@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

h1 {
    font-size: 35.259px;
    font-weight: 600;
}

h2 {
    font-size: 15.117px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.227px;
    text-transform: uppercase;
}

h3 {
    font-size: 12.368px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.186px;
    text-transform: uppercase;
}

ul {
    list-style-image: url('/assets/img/viñeta.svg');
}

p,
li {
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.18px;
}


.text-primary {
    background: var(--degradado, linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35.259px;
    font-weight: 600;
}

.text-secondary {
    background: var(--degra2, linear-gradient(90deg, #15B9B9 0%, #257AD5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
}

.container-title {
    display: flex;
    flex-direction: row;
}

.container-title>h1 {
    padding-right: 18px;
}

.container-text {
    width: 100%;
    display: inline-block;
    padding: 5px;
}

.container-text>img {
    display: inline-block;
    vertical-align: top;
}

.container-text>span {
    clear: left;
    text-align: right;
    vertical-align: middle;
    line-height: 25px;
}

.container-list {
    margin-top: 10px;
}

.container-objetivo {
    margin-top: 15px;
}

/* smartphones */
@media screen and (max-device-width:480px) {

    h1,
    .text-primary {
        font-size: 20px;
    }

    .container-title {
        width: 100%;
        justify-content: center;
    }

    .container-title>h1 {
        padding-right: 10px;
    }

    .center-text {
        text-align: center;
    }

    .container-text {
        text-align: center;
        height: 30px;
    }

    .img-perfil {
        display: none;
    }

    .container-objetivo {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
}

/* Tablets */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    .container-text>p {
        margin-top: 10px;
    }
}