@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

h1 {
    font-size: 35.259px;
    font-weight: 600;
}

h2 {
    font-size: 15.117px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.227px;
    text-transform: uppercase;
}

h3 {
    font-size: 12.368px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.186px;
    text-transform: uppercase;
}

ul {
    list-style-image: url('/assets/img/viñeta.svg');
}

p,
li {
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.18px;
}


.text-primary {
    background: var(--degradado, linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35.259px;
    font-weight: 600;
}

.text-secondary {
    background: var(--degra2, linear-gradient(90deg, #15B9B9 0%, #257AD5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
}

.container-title {
    display: flex;
    flex-direction: row;
}

.container-title>h1 {
    padding-right: 18px;
}

.container-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.container-text>img {
    padding-right: 5px;
}

.container-text>p {
    margin-top: 18px;
}

.container-list {
    margin-top: 10px;
}